# Natural Language Processing
langchain==0.0.191
chromadb==0.3.22
llama-cpp-python==0.1.59
pdfminer.six==20221105
InstructorEmbedding
sentence-transformers
faiss-cpu
transformers
protobuf==3.20.0
# Utilities
sys
tkinter
urllib3==1.26.6
accelerate
bitsandbytes
click
glob2
pdfrw
# Excel File Manipulation
openpyxl
#App Settings
chainlit
